/*CSS OLEH Intan Dahayu*/.jumbotron { background-image:url(blue.jpg);
		background-size:contain;
	     height: 900px;
		 text-align:center;margin-top: 120px;
	}
	.jumbotron .display-4 {
		color: white;font-size:200px
		;font-style: inherit;
		font-variant-numeric;
		color:black;
		font-size:50px;font-style:initial;font-variant-position:margin-top 200px;}
	@font-face  {font-family:'tulisan-cuy';src:url(a2.ttf);
}
h1{
	font-family: "tulisan-cuy";font-size: 60pt;
font-variant: inherit;text-decoration-color: transparent;color:red;text-align: center;
}
.carousel-item {height:670px;}
.carousel-item img {margin-top: -120px;}.grid-2 {
  display: grid; background-image:url(sok.jpg);
  grid-template-columns: 150px 20px 150px 20px 150px;
  grid-template-rows: auto 20px auto 20px auto;}
body 
{
    background-image:url(asiq.jpg);
    font-family: sans-serif
}
/*CSS OLEH Intan Dahayu*/