.container {
	width: 350px;
	height: 500px;
	border: 1px solid red;
	display: block;
	margin: 0 auto;
}
.atas {
	padding-top: 25px;
}
.atas img{
	width: 125px;
	height: 125px;
	border-radius: 25px;
	display: block;
	margin: 0 auto;
}

.bawah {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}

.bawah input{
	border-radius: 5px;
	border: solid blue;
	margin: 10px 0;
}

.bawah button{
	display: block;
	margin: 0 auto;
	background-color: green;
	border: blue;
	width: 50px;
	height: 25px;
}

.bawah button:hover{
	background-color: blue;
	border: green;
}