.jumbotron { background-image:url(blue.jpg);
		background-size: cover;
	     height: 900px;
		 text-align:center;margin-top: 120px;
	}
	.jumbotron .display-4 {
		color: white;font-size:200px
		;font-style: inherit;
		font-variant-numeric;
		color:white;
		font-size:50px;font-style:initial;font-variant-position:margin-top 200px;}
	.jumbotron p {
		color: white;}

.carousel-item {height:670px;}
.carousel-item img {margin-top: -120px;}
 body {background-image: url(asiq.jpg);}
form {background-image:url(blue.jpeg);
    overflow: hidden;
    font-size: 20px;
    font-variant-numeric;
		color:white; font-style:initial;font-variant-position:margin-top 200px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    }
	
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
input {
    float: left;
    width: calc(100% - 200px);
}
 
button {
    float: right;
    width: calc(100% - 200px);
}


